.FileIcon {
	height: 30px;
	margin: 20px;
}

.FileName,
.FileUploadIcon {
	display: inline;
	vertical-align: middle;
	align-self: center;
}

.FileUploadIcon {
	margin: 10px;
	height: 16px;
}

.FileDisplayContainer {
	width: 100%;
	list-style: none;
}

.FileDropError {
	margin: 10px;
	font-size: 14px;
}
