.StringUploadForm {
	padding: 10px;
	border: 1px solid rgba(26, 26, 26, 0.05);
	background-color: #f5f5f5;
	-ms-flex-align: center;
	align-items: center;
	width: 50%;
	margin: 0 25% 0 25%;
}

.ValidateButton {
	text-align: center;
}
