.DropZoneContainer {
	width: 100%;
}

.FileDropzone {
	height: 180px;
	background-color: #fff;
	border-radius: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 16px;
	border: 2px dashed #dddf;
	cursor: pointer;
}

.FileDropzone:hover {
	background-color: #f4f8fe;
}

.FileIcon {
	height: 30px;
	margin: 20px;
}

.FileInput {
	display: none;
}

.DropContainer {
	align-items: flex-start;
}

.DropBackground {
	height: auto;
	width: auto;
}
